@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sora text-gray-800;
        @apply bg-gray-50 dark:bg-jazzy-body dark:text-gray-50;
    }
}

@layer components {
    .smart-padding {
        @apply px-2 sm:py-10 md:py-16 md:px-14 lg:px-20 xl:px-60;
    }
    .top-box {
        @apply min-h-screen py-10;
    }
    .hero-section {
        @apply py-2 mb-3 text-center space-y-2 smart-padding;
    }
    .heading-1 {
        @apply text-xl sm:text-2xl md:text-4xl font-bold;
    }
    .heading-2 {
        @apply text-lg sm:text-xl md:text-3xl font-bold;
    }
    .explanation {
        @apply text-sm md:text-lg font-thin;
    }
    .play-section {
        @apply mx-auto duration-100;
    }
    .play-section.full-screen-off {
        @apply lg:w-[979px] mx-auto;
    }
    .play-section.full-screen-on {
        @apply fixed top-0 w-full h-full p-7 z-50 backdrop-blur;
        @apply bg-slate-100/80;
        @apply dark:bg-slate-700/20;
    }
    .play-section .clicking-section {
        @apply flex-col h-[700px] flex rounded-2xl overflow-hidden;
    }
    .play-section.full-screen-on .clicking-section{
        @apply px-0 mx-0 h-[89vh];
    }
    .goto-page-links {
        @apply grid sm:grid-cols-2 md:grid-cols-3 gap-y-1 md:gap-x-3 sm:gap-x-2 md:gap-y-5 sm:gap-y-3 mb-16 last:mb-0;
    }

    .goto-page-btn {
        @apply p-2 rounded-xl text-center font-light border-b-8;
        @apply text-slate-700 bg-slate-100 border-b-slate-200;
        @apply dark:text-slate-100 dark:bg-slate-700 dark:border-b-slate-800;
    }

    .goto-page-btn.active {
        @apply bg-slate-300 border-b-slate-400;
        @apply dark:bg-slate-800 dark:border-b-slate-600/10 dark:shadow-slate-700/70 shadow;
    }

    .menu-btn {
        @apply flex px-3 h-full gap-x-3 duration-150 cursor-pointer select-none relative;
    }
    .menu-btn.on {
        @apply border-b-black/5 border-b-8;
    }
    .menu-container {
        @apply duration-100 absolute top-16 right-0 h-60 w-72 z-30;
        @apply bg-white/95 dark:bg-slate-700;
        @apply backdrop-blur rounded-xl flex py-2 flex-col overflow-y-scroll cute-scroll;
    }
    .menu-btn.on .menu-container {
        @apply scale-100;
    }

    .menu-btn.off .menu-container {
        @apply scale-0;
    }

    .menu-item {
        @apply px-5 text-left py-2 font-thin text-sm;
        @apply text-slate-700 hover:text-purple-700;
        @apply dark:text-slate-100 dark:hover:text-purple-100;
    }

    .menu-item.active {
        @apply text-purple-700;
        @apply dark:text-purple-100;
    }

    .text-box {
        @apply p-6 rounded-xl border-l-8;
        @apply bg-indigo-100 border-indigo-200;
        @apply dark:bg-slate-700 dark:border-slate-600;
    }
    .big-button {
        @apply rounded-2xl h-16 grid place-items-center w-full text-2xl font-medium;
        @apply text-white bg-indigo-500 border-b-8 border-b-indigo-700 hover:border-b-indigo-800;
    }

    .toggle-checkbox:checked {
        @apply: right-0 border-green-400;
        right: 0;
        border-color: #68D391;
    }
    .toggle-checkbox:checked + .toggle-label {
        @apply: bg-green-400;
        background-color: #68D391;
    }
}

/* mclaren-regular */
@font-face {
    font-family: 'mclaren-regular';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/McLaren-Regular.ttf') format('truetype');
}


.cute-scroll::-webkit-scrollbar {
    width: 20px;
}

.cute-scroll::-webkit-scrollbar-track {
    background-color: transparent;
}

.cute-scroll::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.cute-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}



/* sora regular */
@font-face {
    font-family: 'sora';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/sora/Sora-Regular.ttf') format('truetype');
    font-display: swap;
}

/* sora bold */
@font-face {
    font-family: 'sora';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../fonts/sora/Sora-Bold.ttf') format('truetype');
    font-display: swap;
}
/* sora extra bold */
@font-face {
    font-family: 'sora';
    font-style: normal;
    font-weight: 800;
    src: local(''), url('../fonts/sora/Sora-ExtraBold.ttf') format('truetype');
    font-display: swap;
}

/* sora extra light */
@font-face {
    font-family: 'sora';
    font-style: normal;
    font-weight: 100;
    src: local(''), url('../fonts/sora/Sora-ExtraLight.ttf') format('truetype');
    font-display: swap;
}

/* sora light */
@font-face {
    font-family: 'sora';
    font-style: normal;
    font-weight: 300;
    src: local(''), url('../fonts/sora/Sora-Light.ttf') format('truetype');
    font-display: swap;
}

/* sora medium */
@font-face {
    font-family: 'sora';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('../fonts/sora/Sora-Medium.ttf') format('truetype');
    font-display: swap;
}

/* sora regular */
@font-face {
    font-family: 'sora';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/sora/Sora-Regular.ttf') format('truetype');
    font-display: swap;
}

/* sora semi bold */
@font-face {
    font-family: 'sora';
    font-style: normal;
    font-weight: 600;
    src: local(''), url('../fonts/sora/Sora-SemiBold.ttf') format('truetype');
    font-display: swap;
}

/* sora thin */
@font-face {
    font-family: 'sora';
    font-style: normal;
    font-weight: 200;
    src: local(''), url('../fonts/sora/Sora-Thin.ttf') format('truetype');
    font-display: swap;
}

/* all @font-faces for SourceSansPro */
@font-face {
    font-family: 'source-sans-pro';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/source-sans-pro/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'source-sans-pro';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('../fonts/source-sans-pro/SourceSansPro-SemiBold.ttf') format('truetype');
}

/* semi bold italic */
@font-face {
    font-family: 'source-sans-pro';
    font-style: italic;
    font-weight: 600;
    src: local(''), url('../fonts/source-sans-pro/SourceSansPro-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'source-sans-pro';
    font-style: normal;
    font-weight: 600;
    src: local(''), url('../fonts/source-sans-pro/SourceSansPro-Bold.ttf') format('truetype');
}

/* bolditalic */
@font-face {
    font-family: 'source-sans-pro';
    font-style: italic;
    font-weight: 600;
    src: local(''), url('../fonts/source-sans-pro/SourceSansPro-BoldItalic.ttf') format('truetype');
}

/* italic */
@font-face {
    font-family: 'source-sans-pro';
    font-style: italic;
    font-weight: 400;
    src: local(''), url('../fonts/source-sans-pro/SourceSansPro-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'source-sans-pro';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../fonts/source-sans-pro/SourceSansPro-Black.ttf') format('truetype');
}

/* pro-blackitalic */
@font-face {
    font-family: 'source-sans-pro';
    font-style: italic;
    font-weight: 700;
    src: local(''), url('../fonts/source-sans-pro/SourceSansPro-BlackItalic.ttf') format('truetype');
}

/* @font-face with ExtraLight */
@font-face {
    font-family: 'source-sans-pro';
    font-style: normal;
    font-weight: 100;
    src: local(''), url('../fonts/source-sans-pro/SourceSansPro-ExtraLight.ttf') format('truetype');
}

/* @font-face with ExtraLightItalic */
@font-face {
    font-family: 'source-sans-pro';
    font-style: italic;
    font-weight: 100;
    src: local(''), url('../fonts/source-sans-pro/SourceSansPro-ExtraLightItalic.ttf') format('truetype');
}

/* light */
@font-face {
    font-family: 'source-sans-pro';
    font-style: normal;
    font-weight: 300;
    src: local(''), url('../fonts/source-sans-pro/SourceSansPro-Light.ttf') format('truetype');
}

/* light italic */
@font-face {
    font-family: 'source-sans-pro';
    font-style: italic;
    font-weight: 300;
    src: local(''), url('../fonts/source-sans-pro/SourceSansPro-LightItalic.ttf') format('truetype');
}

@keyframes useRippleAnimation {
    to {
        transform: scale(15);
        opacity: 0;
    }
}
